{% extends 'base.html' %}

{% block title %}Add Agent{% endblock %}

{% block content %}
    <h1>Add a New Agent</h1>

    <!-- Display Flash Messages -->
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="{{ category }}">{{ message }}</div>
        {% endfor %}
    {% endif %}
    {% endwith %}
 

    <form action="/add_agent" method="post">
        <label for="first_name">First Name:</label>
        <input type="text" id="first_name" name="first_name"><br>
        <label for="last_name">Last Name:</label>
        <input type="text" id="last_name" name="last_name"><br>
        <label for="companies">Companies:</label><br>
        {% for company in companies %}
            <input type="checkbox" id="company_{{company['_id']}}" name="companies" value="{{company['_id']}}">
            <label for="company_{{company['_id']}}">{{ company['name'] }}</label><br>
        {% endfor %}
        <!-- You can extend this form to include appliances, owners, and locations -->
        <input type="submit" value="Add Agent">
    </form>
{% endblock %}