{% extends 'base.html' %}

{% block title %}Add Home{% endblock %}

{% block content %}
    <h1>Add a New Home</h1>
    <!-- Form for adding a new home goes here -->
        <!-- Display Flash Messages -->
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="{{ category }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}
     
    
        <form action="/add_home" method="post">
            <label for="floor_space">Floor Space:</label>
            <input type="number" id="floor_space" name="floor_space"><br>
            <label for="floors">Floors:</label>
            <input type="number" id="floors" name="floors"><br>
            <label for="bed_rooms">Bedrooms:</label>
            <input type="number" id="bed_rooms" name="bed_rooms"><br>
            <label for="bath_rooms">Bathrooms:</label>
            <input type="number" id="bath_rooms" name="bath_rooms" step="0.5"><br>
            <label for="land_size">Land Size:</label>
            <input type="number" id="land_size" name="land_size" step="0.1"><br>
            <label for="year_constructed">Year Constructed:</label>
            <input type="number" id="year_constructed" name="year_constructed"><br>
            <label for="appliances">Appliances:</label><br>
            {% for appliance in appliances %}
                <input type="checkbox" id="appliance_{{appliance['_id']}}" name="appliances" value="{{appliance['_id']}}">
                <label for="appliance_{{appliance['_id']}}">{{ appliance['name'] }} ({{ appliance['make'] }} - {{ appliance['model'] }})</label><br>
            {% endfor %}
            <label for="home_type">Home Type:</label>
            <select id="home_type" name="home_type">
                <option value="house">House</option>
                <option value="mansion">Mansion</option>
                <option value="apartment">Apartment</option>
                <option value="townhome">Townhome</option>
                <option value="condo">Condo</option>
            </select><br>
            <label for="owner">Owner:</label>
            <select name="owner" id="owner" required>
                <option value="">Select Owner</option>
                {% for owner in owners %}
                <option value="{{ owner['_id'] }}">{{ owner['first_name'] }} {{ owner['last_name'] }}</option>
                {% endfor %}
            </select><br>
            <!-- You can extend this form to include appliances, owners, and locations -->
            <input type="submit" value="Add Home">
        </form>
{% endblock %}