{% extends 'base.html' %}

{% block title %}Add Agent{% endblock %}

{% block content %}
    <h1>Add a New Comapny</h1>

    <!-- Display Flash Messages -->
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="{{ category }}">{{ message }}</div>
        {% endfor %}
    {% endif %}
    {% endwith %}
 

    <form action="/companies" method="post">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name"><br>
        <label for="commission">Commission:</label>
        <input type="text" id="commission" name="commission"><br>
        <label for="Location">Location:</label><br>

        <!-- You can extend this form to include appliances, owners, and locations -->
        <input type="submit" value="Add Company">
    </form>

    <h1>List of Companies</h1>

    <table>
        <tr>
            <th>Name</th>
            <th>Commission</th>
            <th>Location</th>
        </tr>
        <tr>
        {% for comp in companies %}
            <td>{{ comp.name }}</td>
            <td>{{ comp.commission }}%</td>
            <td>{{ comp.location.street }} {{ comp.location.city }}, {{ comp.location.state }} {{comp.location.zip}}</td>
        {% endfor %}
        </tr>
    {% endfor %}
    </table>
{% endblock %}