{% extends 'base.html' %}

{% block title %}List Homes{% endblock %}

{% block content %}
<h1>List of Homes</h1>
<form action="/homes" method="get">
    <label for="city">City:</label>
    <select name="city" id="city">
        <option value="">Select a City</option>
        {% for city in cities %}
        <option value="{{ city }}">{{ city }}</option>
        {% endfor %}
    </select>

    <label for="owner_id">Owner:</label>
    <select name="owner_id" id="owner_id">
        <option value="">Select an Owner</option>
        {% for owner in owners %}
        <option value="{{ owner['_id'] }}">{{ owner['first_name'] }} {{ owner['last_name'] }}</option>
        {% endfor %}
    </select> </br></br>

    <label for="home_types">Home Types:</label>
    <div class="home-types-checkboxes">
        {% for type in home_types %}
            <div class="checkbox-item">
                <input type="checkbox" id="type_{{ type }}" name="home_types" value="{{ type }}"
                    {% if type in selected_home_types %}checked{% endif %}>
                <label for="type_{{ type }}">{{ type.capitalize() }}</label>
            </div>
        {% endfor %}
    </div>

    <h4>Find an Owner who Owns Multiple Types of Homes:</h4>
    <div class="checkbox-group">
        <label class="checkbox-inline">
            <input type="checkbox" name="owner_home_types" value="apartment"> Apartment
        </label>
        <label class="checkbox-inline">
            <input type="checkbox" name="owner_home_types" value="condo"> Condo
        </label>
        <label class="checkbox-inline">
            <input type="checkbox" name="owner_home_types" value="house"> House
        </label>
        <label class="checkbox-inline">
            <input type="checkbox" name="owner_home_types" value="mansion"> Mansion
        </label>
        <label class="checkbox-inline">
            <input type="checkbox" name="owner_home_types" value="townhome"> Townhome
        </label>
    </div>
    <div>
        <input type="checkbox" id="multiple_sales" name="multiple_sales" value="1"
            {% if request.args.get('multiple_sales') == '1' %}checked{% endif %}>
        <label for="multiple_sales">Show Homes Sold Multiple Times</label>
    </div>
    <!-- For Sale Filter  TO DO FIX -->
    <div>
        <input type="checkbox" id="for_sale" name="for_sale" value="on"
            {% if request.args.get('for_sale') == 'on' %}checked{% endif %}>
        <label for="for_sale">Show Homes For Sale</label>
    </div>
    <input type="submit" value="Filter Homes">
</form>

{% for home in homes %}
<div class="home-card">
    <p>Address: {{ home.location.street_number }} {{ home.location.street }} {{ home.location.city }} {{ home.location.state }}</p>
    <p>Type: {{ home.home_type.capitalize() }}</p>
    <p>Owner: {{ home.owner.first_name }} {{ home.owner.last_name }}</p>
    <p>Floor space: {{ home.floor_space }} | Floors: {{ home.floors }} | Bedrooms: {{ home.bed_rooms }} | Bathrooms: {{ home.bath_rooms }}</p>
    {% if home.for_sale_price %}
    <p><strong>For Sale Price:</strong> ${{ home.for_sale_price }}</p>
    {% endif %}
</div>
{% else %}
<p>No homes found.</p>
{% endfor %}
{% endblock %}