{% extends 'base.html' %}

{% block title %}Locations{% endblock %}

{% block content %}

    <!-- Display Flash Messages -->
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="{{ category }}">{{ message }}</div>
        {% endfor %}
    {% endif %}
    {% endwith %}

    <h1>List of Locations</h1>

    <table>
        <tr>
            <th>Street</th>
            <th>Unit</th>
            <th>City</th>
            <th>Zip</th>
            <th>State</th>
            <th>County</th>
            <th>Country</th>
        </tr>
        {% for loc in locations %}
        <tr>
            <td>{{ loc.street_number }} {{loc.street}}</td>
            <td>{{ loc.unit_number }}</td>
            <td>{{ loc.city }}</td>
            <td>{{ loc.zip }}</td>
            <td>{{ loc.state }}</td>
            <td>{{ loc.county }}</td>
            <td>{{ loc.country }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}