{% extends 'base.html' %}

{% block title %}Owners{% endblock %}

{% block content %}
    <h1>Add a New Owner</h1>

    <!-- Display Flash Messages -->
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="{{ category }}">{{ message }}</div>
        {% endfor %}
    {% endif %}
    {% endwith %}

    <form action="{{ url_for('owners') }}" method="post">
        <label for="first_name">First Name:</label>
        <input type="text" id="first_name" name="first_name" required><br>

        <label for="last_name">Last Name:</label>
        <input type="text" id="last_name" name="last_name" required><br>

        <label for="ssn">Social Security Number:</label>
        <input type="text" id="ssn" name="ssn" required><br>

        <label for="no_dependents">Number of Dependents:</label>
        <input type="number" id="no_dependents" name="no_dependents" required><br>

        <label for="income">Income:</label>
        <input type="number" id="income" name="income" required><br>

        <label for="age">Age:</label>
        <input type="number" id="age" name="age" required><br>

        <label for="profession">Profession:</label>
        <input type="text" id="profession" name="profession" required><br>

        <input type="submit" value="Add Owner">
    </form>

    <h1>List of Appliances</h1>

    <table>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>SSN</th>
            <th>Dependents Count</th>
            <th>Income</th>
            <th>Age</th>
            <th>Profession</th>
        </tr>
        {% for owner in owners %}
        <tr>
            <td>{{ owner.first_name }}</td>
            <td>{{ owner.last_name }}</td>
            <td>{{ owner.ssn }}</td>
            <td>{{ owner.no_dependents }}</td>
            <td>{{ owner.income }}</td>
            <td>{{ owner.age }}</td>
            <td>{{ owner.profession }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}