<!-- queries.html -->
{% extends 'base.html' %}

{% block title %}Queries{% endblock %}

{% block content %}
<!-- <details>
    <summary>Total Commissions for each Agent</summary>
    <table>
        <thead>
            <tr>
                <th>Agent Name</th>
                <th>Total Commission</th>
            </tr>
        </thead>
        <tbody>
            {% for commission in commissions %}
            <tr>
                <td>{{ commission.agent_name }}</td>
                <td>{{ commission.total_commission | round(2) }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</details> -->

{% for cont in content %}
<details {{cont.open}}>
    <summary>{{cont.summary}}</summary>
    <form action="queries" method="post">
        {% for frm in cont.forms %}
        {{ frm.get() | safe}}
    </br>
        {% endfor %}
        <button type="submit" name="{{cont.button}}">Run Query</button>
    </form>
    <table>
        <tr>
            {% for head in cont.headers %}
            <th>{{ head }}</th>
            {% endfor %}
        </tr>
        {% for res in cont.results %}
        <tr>
            {% for c in res %}
            <td>{{c}}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</details>
</br>
{% endfor %}

{% endblock %}